infura_project_id = 2a1306f1d12f4c109a4d4fb9be46b02e
infura_project_secret = fc479a9290b64a84a15fa6544a130218
etherscan_api_key = GKNHXT22ED7PRVCKZATFZQD1YI7FK9AAYE
arbiscan_api_key = Z43JN5434XVNA5D73UGPWKF26G5D9MGDPZ
optimism_etherscan_api_key = A4E6DAX46FFFW4CGZP6IMZ64ADI3TIRBTS
bscscan_api_key = 5ZGSHWYHZVA8XZHB8PF6UUTRNNB4KT43ZZ
polygonscan_api_key = TNQ44BCF1MS3S75Y6A2B6SN88I8UYFJFRM
snowtrace_api_key = DD8VX77TQ73KSNDFGBQQ31J7K5B51CXXPH
defiyield_api_key = b66ea1f5-f645-4e15-905a-65941580107d
twitter_bearer_token = AAAAAAAAAAAAAAAAAAAAAJgeNwEAAAAA6xVpR6xLKTrxIA3kkSyRA92LDpA%3Da6auybDwcymUyh2BcS6zZwicUdxGtrzJC0qvOSdRwKLeqBGhwB
market_api_url = https:/$()/api-dev.blocksdecoded.com
wallet_connect_v2_project_key = 8b4f41c60880a3e3ad57d82fddb30568
gnosisscan_api_key =
hs_provider_api_key =
default_words =
